#ChatBotContainerTitle {
  margin: 0px 0px 15px 0px;
  padding: 0px;
  color: white;
}

#ChatBotContainer {
  background-color: white;
  margin-top: 10px;
  border-radius: 3%;
  height: 87%;
  width: 90%;
  display: flex;
}
