#ChatBotContainer {
  background-color: white;
  height: calc(100vmax - 0px);
  width: 100vmin;

  display: flex;
  flex-direction: column;
}

#ChatBotHeader {
  flex: 1;
  background-color: yellow;
}

#ChatBotContent {
  flex: 9;
  background-color: red;
}

#ChatBotTextArea {
  flex: 1;
  background-color: blue;
  #TextArea {
    font-size: 3vh;
    width: 100%;
    height: 100%;
    padding: 2vw;
    &:focus {
      outline-width: 0;
    }
  }
}
