#ChatBotContainer {
  background-color: white;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

#ChatBotHeader {
  background-color: rgb(38, 76, 179);
  align-items: center;
  display: flex;
  flex: 1;
}

#ChatBotHeaderInfoMsg {
  font-size: 3.5vh;
  color: white;
}

#ChatBotHeaderIcon {
  padding-left: 4vw;
  padding-right: 2vw;
  font-size: 6vh;
  color: white;
}

#ChatBotMain {
  flex: 9;
  overflow: scroll;
  padding: 0 4vw;
}

.ChatBox {
  align-items: center;
  display: flex;
  margin: 5vh 0;

  & .ChatBoxProfile {
    justify-content: center;
    position: relative;
    display: flex;
    flex: 1.8 1.8;
  }

  & .ChatBoxProfileName {
    position: absolute;
    top: 6vh;
  }
  & svg.ChatBoxProfileImg {
    font-size: 6vh;
  }

  & #ChatBotImg {
    margin-left: 0.5vw;
    height: 10vh;
  }

  & .ChatBoxContentContainer {
    flex: 8 8;

    & .ChatBoxContent {
      background-color: rgba(174, 175, 185, 0.7);
      display: inline-flex;
      border-radius: 10px;
      padding: 10px;
    }
  }

  &.right {
    justify-content: flex-end;

    & .ChatBoxContentContainer {
      text-align: right;

      & .ChatBoxContent {
        text-align: left;
      }
    }
  }
}

form#ChatBotTextArea {
  flex: 1;
  margin: 0;
  display: flex;
  // position: relative;
  background-color: rgb(38, 76, 179);
  & #TextArea {
    background-color: rgb(38, 76, 179);
    // position: absolute;
    font-size: 4vmin;
    padding: 0 4vw;
    color: white;
    border: none;
    height: 100%;
    width: 100%;
    flex: 8;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: white;
    }
  }
  & #TextButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: rgb(82, 119, 221);
    font-size: 5.5vmin;
    color: white;
    border: none;
    flex: 2;
    &:hover {
      cursor: pointer;
    }
  }
}
