form#StudyForm {
    height: 100%;

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2vmax;
        font-size: 2vmax;

        label {
            width:100%;
        }
        input, textarea {
            border-width: 1px;
            font-size: 80%;
            padding: 3%;
            width: 100%;
            height: 100%;
            resize: none;
        }
        
    }

    // Dividing the Form into 3 Parts --> {title, content, button}
    div:nth-child(1) {
        height: 10%;
    }

    div:nth-child(2) {
        height: 80%;
    }

    div:nth-child(3) {
        height: 10%;
        align-items: flex-start;
    }
}